{% extends "gui/index.html" %}
{% load static %}
{%  block main_content %}
    <div class="full-height d-flex flex-column justify-content-center align-items-center">
        <a role="button" href="/changer_username" class="btn btn-secondary btn-lg" style="margin-bottom: 30px;">Changer l'username d'un utilisateur</a>
        <a role="button" href="/changer_niveau" class="btn btn-secondary btn-lg" style="margin-bottom: 30px;">Changer le niveau d'un utilisateur</a>
        <a role="button" href="/supprimer_utilisateur" class="btn btn-secondary btn-lg" style="margin-bottom: 30px;">Supprimer un utilisateur</a>
    </div>
    <style>
        .btn-large {
                padding: 20px 40px; /* Taille intérieure (largeur x hauteur) */
                font-size: 1.5rem; /* Taille du texte */
                border-radius: 8px; /* Bordures arrondies */
            }
        .full-height {
                height: 100vh; /* 100% de la hauteur de la fenêtre */
            }
        body::before {
                    content: "";
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: url("{% static 'gui/filigrane_admin.png' %}") no-repeat center center;
                    background-size: cover; /* ou contain selon le besoin */
                    opacity: 0.2; /* Transparence de l'image */
                    z-index: -1; /* Met l'image en arrière-plan */
                }
    
                .content {
                    position: relative;
                    z-index: 2; /* Garde le contenu par-dessus */
                    background-color: rgba(255, 255, 255, 0.8); /* Optionnel */
                    padding: 20px;
                }
        </style>
{% endblock %}