<!DOCTYPE html>
{% extends "gui/index.html" %}
{% load static %}

{% block main_content %}
<div>
    <h2 style="text-align: center">Supprimer un utilisateur</h2>
    <form method="POST" enctype="multipart/form-data" id="deleteUserForm">
        {% csrf_token %}
        <div class="row mb-3" style="margin-top: 40px;text-align: center;">
            <label for="username_joueur" class="col-sm-3 offset-sm-1 col-form-label">Choisir un utilisateur à supprimer</label>
            <div class="col-sm-7">
                <select class="form-control" id="username_joueur" name="username_joueur" required>
                    <option value="" disabled selected>Choisissez un utilisateur</option>
                    {% for user in utilisateurs %}
                        <option value="{{ user.user.username }}">{{ user.user.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Checkbox added here -->
        <div class="row mb-3">
            <div class="col-sm-7 offset-sm-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="irreversibleAction" required>
                    <label class="form-check-label" for="irreversibleAction" style="color:red;text-align: left;margin-left: 0;">
                        Êtes-vous conscient que cette action est irréversible ?
                    </label>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-success" type="submit">Supprimer cet utilisateur</button>
        </div>
    </form>
</div>

<!-- JavaScript to ensure the checkbox is checked before form submission -->
<script>
    document.getElementById('deleteUserForm').onsubmit = function(event) {
        if (!document.getElementById('irreversibleAction').checked) {
            event.preventDefault();  // Prevent form submission if checkbox is not checked
            alert("Vous devez confirmer que cette action est irréversible.");
        }
    };
</script>
{% endblock %}
